/* * {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}  */
body {
    font-family: "Playfair Display", serif;
     /* max-width: 1200px; */
    /* display:flex;  */
    padding: 30px;
}

main {
display: grid;
  /* max-width: 1200px; */
  margin: auto;
  padding-top: 1.25rem;
  grid-template-columns: 830px 1fr;
}
/* .main_web {
max-width: 850px;

} */

aside {
margin-left: 20px;
}

header {
padding-bottom: 100px;
border-bottom: thick double gray;
position:static;
top: 0;
z-index: 1;
max-width: 1200px;
}



.playfair-display  {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}


.medievalsharp-regular {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

  
.logo {
    font-family: "MedievalSharp", cursive;
    position: absolute;
    top:0;
    left:50%;
    transform: translateX(-50%);
    z-index: 1001;
    margin-bottom: 20px;
    font-size: 50px;
}

.logo a {
color:black;
text-decoration: none;
}

 .flex-container1 {
    display:flex; 
    justify-content: center;
    width:100%; 
    flex-wrap: wrap;
    align-items : center; 
    position:fixed;
    z-index:1000;
    color:black;
    background-color: whitesmoke;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* צל */
    top:0; 
    font-size: 12px;
}

i.fa-magnifying-glass {
    font-size: 16px;
    color: black;
  }

i.fa-solid-fa-language {
    font-size: 16px;
    color: black;
  }

#p_section2 {
    font-size: 16px;
}

.button {
border:none;
color:white;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
margin: 4px 2px;
background-color: rgb(62, 90, 120);
padding: 5px;
border-radius: 5px;}

.button:hover {
    text-align: center;
    text-decoration:underline;
    background-color: gray;
}

.flex-container2 {
    display:flex; 
    justify-content: center;
    width:100%; 
    flex-wrap: wrap;
    align-items : center; 
    position:fixed;
    z-index:1000;
    color:black;
    background-color: whitesmoke;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* צל */
}

.flex-container3 {
    display:flex; 
    justify-content: center;
    width:100%; 
    flex-wrap: wrap;
    align-items : center; 
    position:fixed;
    z-index:1000;
    color:black;
    background-color: whitesmoke;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* צל */
    top: 70px; 
}

.flex-container1, .flex-container2, .flex-container3 {
position: relative;
margin-top: 20px;
}
   
  ul {
      display: flex;
      list-style-type:none;
      padding:0;
      text-align: center;
  
    }
 
    li a:hover {
  text-align: center;
  text-decoration:underline;

    }
   
     li a {
    display:block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: center;
    color:black;

    } 
  
    
    .grid-container1 {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 10px; 
        border-bottom: solid gray;
         
    } 

    .grid-container1 img {
        width:100%;
        height:auto ;
        display:block ;
        }

    
.item1 {
    grid-row: 1 / span 2;
    grid-column:  2/ span 2 ;

}

.item2 {
    grid-row: 1 / span 1;
    grid-column:  1/ span 1 ;
    font-size: 16px;
    border-bottom: solid gray;

}

.item3 {
    grid-row: 2 / span 1;
    grid-column:  1/ span 1 ;
    font-size: 16px;
}


.grid-container2 {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px; 
    border-bottom: solid gray;

     
} 

.grid-container2 img {
    width:100%;
    height:auto ;
    display:block ;
    }


.item4 {
    grid-row: 1 / span 2;
    grid-column:  2/ span 2 ;
}

.item5 {
    grid-row: 1 / span 1;
    grid-column:  1/ span 1 ;
    font-size: 16px;
    border-bottom: solid gray;

}

.item6 {
    grid-row: 2 / span 1;
    grid-column:  1/ span 1 ;
    font-size: 16px;

}



.grid-container3 {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px; 
    border-bottom: solid gray;

     
} 

.grid-container3 img {
    width:100%;
    height:auto ;
    display:block ;
    }


    .item7 {
        grid-row: 1 / span 2;
        grid-column:  2/ span 2 ;

    }
    
    .item8 {
        grid-row: 1 / span 1;
        grid-column:  1/ span 1 ;
        font-size: 16px;
        border-bottom: solid gray;

    }
    
    .item9 {
        grid-row: 2 / span 1;
        grid-column:  1/ span 1 ;
        font-size: 16px;
        border-bottom: solid gray;
    
    }


    .item10 {
    grid-row: 3 / span 1;
    grid-column:  1/ span 1 ;
    font-size: 16px;

    
    }


.grid-container4 {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px; 
    border-bottom: solid gray;

     
} 

.grid-container4 img {
    width:100%;
    height:auto ;
    display:block ;
    }


.item11 {
    grid-row: 1 / span 2;
    grid-column:  2/ span 2 ;
}

.item12 {
    grid-row: 1 / span 1;
    grid-column:  1/ span 1 ;
    font-size: 16px;
    border-bottom: solid gray;

}

.item13 {
    grid-row: 2 / span 1;
    grid-column:  1/ span 1 ;
    font-size: 16px;

}

.aside {
    border-bottom: solid gray;
    font-size: 13px;
margin-bottom:20px;    
}

aside {  
margin-left:20px;
}

.aside h1 {
    font-size: 13px;
    color: gray;
}

.aside img {
  width:100px ;
  height:100px ;
  position:absolute;
}

.aside-content {
display: flex;
align-items: center;
gap:10px;
}

.aside-content img {
width:100px;
height:100px;
}

#live_just_now {
color:red;
font-size: 12px;
font-weight: 700;
}

